.navigation-bar {
  background-color: #37403d;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation-links {
  display: flex;
  gap: 10px;
}

.navigation-links a {
  color: white;
}

.cart {
  display: flex;
  gap: 10px;
}
